* {
  font-family: $ff-primary;

  @include typo_styles(
                  $fw-semi-bold, //fw
                  $fs-body, //fs
                  $clr-primary, //clr
                  $lh-body, //lh
                  normal
  );
};

.header_bloc {
  h1 {
    @include typo_styles(
                    $fw-semi-bold,
                    $fs-header,
                    $clr-primary,
                    $lh-header,
                    bold
    );

    width: $h1-width;
    height: fit-content;
    margin: auto 0;
  };
};

.menu_bloc {
  h1 {
    @include typo_styles(
                    $fw-semi-bold,
                    $fs-header,
                    $clr-primary,
                    $lh-header,
                    bold
    );

    width: $h1-width;
    height: fit-content;
  };
};

.mid_banner {
  h1 {
    @include typo_styles(
                    $fw-semi-bold, //fw
                    10, //fs
                    #000000, //clr
                    15, //lh
                    normal
    );
    width: fit-content;
    height: fit-content;
  };
};
