* {
  font-family: $ff-primary;

  @include typo_styles(
                  $fw-semi-bold, //fw
                  $fs-body, //fs
                  $clr-primary, //clr
                  $lh-body, //lh
                  normal
  );
};

.header_bloc {
  h1 {
    @include typo_styles(
                    $fw-semi-bold,
                    $fs-header,
                    $clr-primary,
                    $lh-header,
                    bold
    );

    width: 33%;
    height: fit-content;
    margin: auto;
  };
};

.menu_bloc {
  h1 {
    @include typo_styles(
                    $fw-semi-bold,
                    $fs-header,
                    $clr-primary,
                    $lh-header,
                    bold
    );

    width: 33%;
    height: fit-content;
  };
};
