.scroll_grid {
  width: 100%;
  height: fit-content;
  padding: 5%;
  margin: 0 auto;

  display: grid ;
  align-items: center ;
  grid-auto-flow: column ;
  grid-auto-rows: fit-content; // play with this to change height of the children, 50% will fill half
  grid-template-columns: unset; // do not set template columns and rows
  grid-template-rows: unset;
  overflow: scroll;

  column-gap: 30px;
  &:before, &:after {
    position: absolute;
    content: '';
    //width: 30px;
  }
  .item {

  };
};
