// _header
.nav_menu {
  @include content_box(100%, 25px, 0, row);
  justify-content: space-between;
  align-items: center;

  svg {
    width: $nav-btn-size;
    height: $nav-btn-size;
    @include hover_shadow();
  };
};


// _menu
.menu_bloc {
  @include content_box(100%, 75%, 30px, column);
  position: absolute;
  align-content: space-between;

  top: 0;
  left: 0;
  right: 0;

  display:  none;

  svg {
    width: $nav-btn-size;
    height: $nav-btn-size;
    @include hover_shadow();
  };

  .menu_top {
    @include content_box(100%, fit-content, 0, row);
    justify-content: space-between;
    place-items: flex-start;
  };

  .menu_nav {
    @include content_box(fit-content, fit-content, 0, column);
    place-items: flex-end;
    margin: auto 0 0 auto;
    a {
      @include hover_shadow();
      text-decoration: none;
    };
  };
};
