// _typography
$typography_styles : (
        "main_style": normal ,
        "main_weight": 600,
        "main_size": 25px,
        "main_line-height": 23px,
        "main_color": #FFFFFF
);

// _theme
$background_img: "/Users/nayanmallet/Documents/Dev/shopnextclothes_/src/assets/images/header_background.jpeg" !default;

//_navigation
$buttons_sizing: 40px !default;

// _header
$header_title : (
        "main_style": bold ,
        "main_weight": 600,
        "main_size": 30px,
        "main_line-height": 24px,
        "main_color": #FFFFFF,
        "main_width": 98px,
        "main_height": 75px
);